*.log
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.synctex*
*.tuc
dist/*
*_upstream.lua
*.orig
*.rej
*_new.diff
*.tar.gz

_minted*/
*.aux
*.fdb_latexmk
*.fls
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.synctex
*.synctex.gz
*.tar.gz
*.toc
*.data.minted
tmp.tex
tmp.lua
tmp.txt
dist-doc/

luatex-type-definitions/
