@font-face {
    font-family: 'DejaVu Math TeX Gyre';
    src: url('DejaVuMathTeXGyre-Regular.eot');
    src: url('DejaVuMathTeXGyre-Regular.eot?#iefix') format('embedded-opentype'),
        url('DejaVuMathTeXGyre-Regular.woff2') format('woff2'),
        url('DejaVuMathTeXGyre-Regular.woff') format('woff'),
        url('DejaVuMathTeXGyre-Regular.svg#DejaVuMathTeXGyre-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans.eot');
    src: url('DejaVuSans.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSans.woff2') format('woff2'),
        url('DejaVuSans.woff') format('woff'),
        url('DejaVuSans.svg#DejaVuSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: url('DejaVuSansCondensed.eot');
    src: url('DejaVuSansCondensed.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansCondensed.woff2') format('woff2'),
        url('DejaVuSansCondensed.woff') format('woff'),
        url('DejaVuSansCondensed.svg#DejaVuSansCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans-BoldOblique.eot');
    src: url('DejaVuSans-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSans-BoldOblique.woff2') format('woff2'),
        url('DejaVuSans-BoldOblique.woff') format('woff'),
        url('DejaVuSans-BoldOblique.svg#DejaVuSans-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: url('DejaVuSansCondensed-Bold.eot');
    src: url('DejaVuSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansCondensed-Bold.woff2') format('woff2'),
        url('DejaVuSansCondensed-Bold.woff') format('woff'),
        url('DejaVuSansCondensed-Bold.svg#DejaVuSansCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans-Bold.eot');
    src: url('DejaVuSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSans-Bold.woff2') format('woff2'),
        url('DejaVuSans-Bold.woff') format('woff'),
        url('DejaVuSans-Bold.svg#DejaVuSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('DejaVuSansMono-Oblique.eot');
    src: url('DejaVuSansMono-Oblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansMono-Oblique.woff2') format('woff2'),
        url('DejaVuSansMono-Oblique.woff') format('woff'),
        url('DejaVuSansMono-Oblique.svg#DejaVuSansMono-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans-ExtraLight.eot');
    src: url('DejaVuSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSans-ExtraLight.woff2') format('woff2'),
        url('DejaVuSans-ExtraLight.woff') format('woff'),
        url('DejaVuSans-ExtraLight.svg#DejaVuSans-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: url('DejaVuSansCondensed-BoldOblique.eot');
    src: url('DejaVuSansCondensed-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansCondensed-BoldOblique.woff2') format('woff2'),
        url('DejaVuSansCondensed-BoldOblique.woff') format('woff'),
        url('DejaVuSansCondensed-BoldOblique.svg#DejaVuSansCondensed-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('DejaVuSansMono.eot');
    src: url('DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansMono.woff2') format('woff2'),
        url('DejaVuSansMono.woff') format('woff'),
        url('DejaVuSansMono.svg#DejaVuSansMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Condensed';
    src: url('DejaVuSansCondensed-Oblique.eot');
    src: url('DejaVuSansCondensed-Oblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansCondensed-Oblique.woff2') format('woff2'),
        url('DejaVuSansCondensed-Oblique.woff') format('woff'),
        url('DejaVuSansCondensed-Oblique.svg#DejaVuSansCondensed-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('DejaVuSansMono-Bold.eot');
    src: url('DejaVuSansMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansMono-Bold.woff2') format('woff2'),
        url('DejaVuSansMono-Bold.woff') format('woff'),
        url('DejaVuSansMono-Bold.svg#DejaVuSansMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('DejaVuSansMono-BoldOblique.eot');
    src: url('DejaVuSansMono-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSansMono-BoldOblique.woff2') format('woff2'),
        url('DejaVuSansMono-BoldOblique.woff') format('woff'),
        url('DejaVuSansMono-BoldOblique.svg#DejaVuSansMono-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('DejaVuSerif-Bold.eot');
    src: url('DejaVuSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerif-Bold.woff2') format('woff2'),
        url('DejaVuSerif-Bold.woff') format('woff'),
        url('DejaVuSerif-Bold.svg#DejaVuSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: url('DejaVuSerifCondensed-Bold.eot');
    src: url('DejaVuSerifCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerifCondensed-Bold.woff2') format('woff2'),
        url('DejaVuSerifCondensed-Bold.woff') format('woff'),
        url('DejaVuSerifCondensed-Bold.svg#DejaVuSerifCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans-Oblique.eot');
    src: url('DejaVuSans-Oblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSans-Oblique.woff2') format('woff2'),
        url('DejaVuSans-Oblique.woff') format('woff'),
        url('DejaVuSans-Oblique.svg#DejaVuSans-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: url('DejaVuSerifCondensed-Italic.eot');
    src: url('DejaVuSerifCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerifCondensed-Italic.woff2') format('woff2'),
        url('DejaVuSerifCondensed-Italic.woff') format('woff'),
        url('DejaVuSerifCondensed-Italic.svg#DejaVuSerifCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('DejaVuSerif-BoldItalic.eot');
    src: url('DejaVuSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerif-BoldItalic.woff2') format('woff2'),
        url('DejaVuSerif-BoldItalic.woff') format('woff'),
        url('DejaVuSerif-BoldItalic.svg#DejaVuSerif-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: url('DejaVuSerifCondensed-BoldItalic.eot');
    src: url('DejaVuSerifCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerifCondensed-BoldItalic.woff2') format('woff2'),
        url('DejaVuSerifCondensed-BoldItalic.woff') format('woff'),
        url('DejaVuSerifCondensed-BoldItalic.svg#DejaVuSerifCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('DejaVuSerif.eot');
    src: url('DejaVuSerif.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerif.woff2') format('woff2'),
        url('DejaVuSerif.woff') format('woff'),
        url('DejaVuSerif.svg#DejaVuSerif') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif Condensed';
    src: url('DejaVuSerifCondensed.eot');
    src: url('DejaVuSerifCondensed.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerifCondensed.woff2') format('woff2'),
        url('DejaVuSerifCondensed.woff') format('woff'),
        url('DejaVuSerifCondensed.svg#DejaVuSerifCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('DejaVuSerif-Italic.eot');
    src: url('DejaVuSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSerif-Italic.woff2') format('woff2'),
        url('DejaVuSerif-Italic.woff') format('woff'),
        url('DejaVuSerif-Italic.svg#DejaVuSerif-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

